spark.master {{ spark_master_url }}
spark.eventLog.enabled true
spark.eventLog.dir hdfs://{{ hadoop_namenode_host }}:9000/spark-logs
spark.sql.warehouse.dir {{ hive_warehouse_dir }}
spark.hadoop.hive.metastore.uris thrift://{{ hive_metastore_host }}:{{ hive_metastore_port }}
spark.sql.extensions org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions
spark.sql.catalog.spark_catalog org.apache.iceberg.spark.SparkSessionCatalog
spark.sql.catalog.spark_catalog.type hive
