<configuration>
  <property>
    <name>hive.metastore.warehouse.dir</name>
    <value>{{ hive_warehouse_dir }}</value>
  </property>
  <property>
    <name>javax.jdo.option.ConnectionURL</name>
    <value>jdbc:derby:;databaseName={{ hive_data_root }}/metastore_db;create=true</value>
  </property>
  <property>
    <name>javax.jdo.option.ConnectionDriverName</name>
    <value>org.apache.derby.jdbc.EmbeddedDriver</value>
  </property>
  <property>
    <name>hive.metastore.uris</name>
    <value>thrift://{{ hive_metastore_host }}:{{ hive_metastore_port }}</value>
  </property>
  <property>
    <name>hive.server2.thrift.port</name>
    <value>{{ hive_server2_port }}</value>
  </property>
</configuration>
