[Unit]
Description=Hadoop DataNode
After=network.target

[Service]
Type=forking
User={{ hadoop_user }}
Group={{ hadoop_group }}
Environment=HADOOP_HOME={{ hadoop_home }}
Environment=HADOOP_CONF_DIR={{ hadoop_conf_dir }}
ExecStart={{ hadoop_home }}/bin/hdfs --daemon start datanode
ExecStop={{ hadoop_home }}/bin/hdfs --daemon stop datanode
Restart=on-failure

[Install]
WantedBy=multi-user.target
